.App {
  text-align: center;
  font-family: 'Playfair Display', serif;

}


.sign-btns {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top:100px;
}

.sign {
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.sign:hover {
  opacity: .4;
}

.sign-img {
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.sign-details {
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.hr {
border: 1px solid black;
width: 600px;
margin-bottom: 50px;
}

.horoscope {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.back {
  cursor: pointer;
}

.back:hover {
text-decoration: underline;
}


footer {
  margin-top: 100px;
  font-size: 10px;
}