.App {
  text-align: center;
  font-family: 'Playfair Display', serif;

}


.sign-btns {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top:100px;
}

.sign {
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.sign:hover {
  opacity: .4;
}

.sign-img {
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.sign-details {
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-top: 25px;
}

.hr {
border: 1px solid black;
width: 600px;
margin-bottom: 50px;
}

.horoscope {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.horoscope-details {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
}

.bold {
  font-weight: bold;
}

.back {
  cursor: pointer;
}

.back:hover {
text-decoration: underline;
}


footer {
  margin-top: 100px;
  font-size: 10px;
}



.horoscope-table {
  width: 600px;
  border-collapse: collapse;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}

.horoscope-table th, .horoscope-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #FAF9F6;
}

.horoscope-table th {
  background-color: #FAF9F6;
  font-weight: bold;
}

.attribute {
  text-align: left;
}



@media only screen and (max-width:414px) {
  .App {
    width: 414px;
  }

  .sign-btns {
    width: 414px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  } 

  .sign-img {
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  } 

  .horoscope-details {
    width: 350px;
    display: block;
    text-align: center;
  }

.sign-title {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

  .hr {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .horoscope {
    width: 350px;
  }

}